:root {
    --header-bg-color: #161b1fcf;
    --gray-color: #eeeeee;
    --gray-text-color: #97AC9F;
    --yellow-color: #fff36b;
    --yellow-hov-button-color: #ffef3d;
    --yellow-active-button-color: #b1a41e;
    --black-color: #000000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
    
    font-weight: 800;
    color: var(--gray-text-color);

}

body {
    background-color: var(--black-color);
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 4.5rem;
    letter-spacing: 5px;
}

p {
    font-size: 1.35rem;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--gray-text-color);
}

section {
    text-align: center;
    margin: 4rem 0;
}

.button {
    max-width: 150px;
    width: 100%;
    padding: .2rem .5rem;
    margin-bottom: 1rem;
    background-color: var(--yellow-color);
    color: var(--black-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--yellow-hov-button-color);
    cursor: pointer;
}

.button:active {
    background-color: var(--yellow-active-button-color);
}

input[type="email"] {
    max-width: 500px;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    font-size: 1.25rem;
    background-color: transparent;
    border: 5px solid var(--gray-text-color);
    outline: none;
}

#submit {
    font-size: 1.25rem;
}

/* HEADER */

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--header-bg-color);
}

.logo {
    display: flex;
    align-items: center;
    width: 60vw;
}

#header-img {
    height: 45px;
    margin-left: 3.25rem;
}

#nav-bar > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
}

.nav-link {
    font-size: 1.9rem;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: var(--yellow-color);
    cursor: pointer;
}

li {
    list-style: none;
}


/* HERO */

#hero {
    padding: 0;
    margin: 0;
}

.hero-img {
    width: 100%;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* MAIN */

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/* PLATFORMS SECTION */

#Platforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* CHARACTERS SECTION */

#Characters {
    display: flex;
    flex-direction: column;
}

.character-box {
    display: flex;
    gap: 25px;
}

.character-box:first-of-type {
    margin-bottom: 20px;
}

.character-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 25px;
    width: 50%;
}

.character-info > p {
    font-size: 1rem;
    text-align: justify;
}

.character-info > h2 {
    text-align: left;
}

.character-img {
    display: flex;
    width: 50%;
}

.character-img > img {
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

#video {
    height: 600px;
    width: 100%;
}

/* PRICING SECTION */

#Pricing {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.card-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    border: 1px solid var(--gray-text-color);
}

.card-box > button {
    align-self: center;
}

.card-image > img {
    display: block;
    width: 100%;
    aspect-ratio: 10/11;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
    padding: .5rem 1rem;
}

.card-info h3 {
    font-size: 2rem;
}

.divider {
    height: 3px;
    width: 100%;
    background-color: #97AC9F;
}

.card-info span {
    font-size: 1.5rem;
}

/* NEWSLETTER */

#Newsletter, #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#form {
    margin-top: 1.25rem;
    gap: 18px;
}

/* FOOTER */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 0 40px;
}

.icon-row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 55%;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--gray-text-color);
}

.row-icons {
    display: flex;
    justify-content: center;
    gap: 55px;
    width: 50%;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-text-color);
    width: 60px;
    height: 60px;
    padding: 0 .5rem;
    border-radius: 50%;
}

.footer-link svg {
    width: 100%;
    height: 27px;
}

.footer-desc {
    display: flex;
    align-items: center;
}

.footer-desc span:first-of-type {
    margin-right: 20px;
}

.footer-desc span:last-of-type {
    font-size: 1.2rem;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
}

.footer-desc span:last-of-type a {
    cursor: pointer;
    color: var(--yellow-color);
}

.footer-desc svg {
    display: flex;
    width: 100%;
    height: 100px;
}

path {
    fill: #161b1f;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {

    h2 {
        font-size: 3.5rem;
    }

    .character-box {
        text-align: center;
        flex-direction: column;
    }

    .character-info, .character-img {
        width: 100%;
    }

    .character-info > h2 {
        text-align: center;
    }

    .row-icons {
        width: 100%;
        justify-content: space-evenly;
        gap: 0;
    }

    .footer-desc span:last-of-type {
        font-size: 1rem;
    }

}

@media screen and (max-width: 1024px) {

    #header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 130px;
    }

    .logo, #nav-bar, #nav-bar ul {
        width: 100%;
    }

    #nav-bar > ul {
        justify-content: space-around;
    }

    .logo {
        justify-content: center;
    }

    #header-img {
        margin: 0 2rem 0 3rem;
    }
   

    .footer-desc, .icon-row-container {
        width: 80%;
    }

    .footer-desc svg {
        width: 100% ;
    }

}

@media screen and (max-width: 480px) {

    section {
        margin: 2rem 0;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 43px;
    }

    p {
        font-size: .9rem;
    }

    #video {
        height: 300px;
    }

    /* HEADER */

    #header {
        height: 100px;
    }

    #header-img {
        height: 35px;
    }

    #nav-bar ul {
        align-items: center;
        justify-content: space-around;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    /* HERO */

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* PLATFORMS */

    #Platforms {
        margin-bottom: 1rem;
    }

    /* CHARACTERS */

    #Characters {
        margin-top: 1rem;
    }

    .character-box {
        flex-direction: column;
    }

    .character-info, .character-img {
        width: 100%;
    }

    .character-info {
        padding: 0;
        gap: 10px;
    }

    .character-info > p {
        text-align: center;
    }

    /* PRICING */

    #Pricing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 2.45rem;
    }    

    .card-info h3 {
        font-size: 1.5rem;
    }

    .card-info span {
        font-size: 1.2rem;
    }

    .card-box .button {
        width: 80%;
    }

    /* NEWSLETTER */

    #Newsletter {
        margin-top: 0;
    }

    #Newsletter h2 {
        font-size: 2rem;
    }

    /* FOOTER */

    #footer {
        padding-bottom: 1rem;
        gap: 0;
    }

    .icon-row-container {
        padding-bottom: 1rem;
    }

    .row-icons {
        justify-content: space-between;
        width: 100%;
        gap: 0;

    }

    .footer-link {
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    .footer-desc span:last-of-type {
        font-size: .7rem;
    }
}